body {
    font-family: Arial, sans-serif;
    background-image: url(imagens/Fundinho.jpg);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.topo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    height: 10px;
  }
  .Ola{
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:8px 8px 16px rgba(7, 0, 0, 0.7) ,8px 8px 16px rgba(7, 0, 0, 0.7) ,8px 8px 16px rgba(7, 0, 0, 0.7),8px 8px 16px rgba(7, 0, 0, 0.7);

  }
  
  .botao-header {
    padding: 10px 20px;
    background-color: rgba(7, 0, 0, 0.452);
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  .botao-header:hover{
    background-color: azure;
    color:#000000;
  }

header {
    background-image: url(imagens/FUNDÃO.webp);
    padding: 20px;
    font-size: 18px;
    color:#ffffff;
    text-shadow:8px 8px 16px rgba(7, 0, 0, 0.7) ,8px 8px 16px rgba(7, 0, 0, 0.7) ,8px 8px 16px rgba(7, 0, 0, 0.7) ;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 100px 10px;
    padding: 20px;
    justify-content: center; 
    margin-top: 20px;
}

.filme-card {
    width: 300px;
    height: 400px;
    background-color: #3f121262;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 10px rgba(255, 160, 160, 0.568);
    transition: transform 0.2s;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}

.filme-card:hover {
    transform: scale(1.10);
}

.filme-card img {
    width: 200px;
    height: 300px;
    object-fit: cover; 
    border-radius: 8px;
}

.filme-card a {
    color: white;
    text-decoration: none;
}

.filme-card a:hover {
    color: white;
}

.filme-card h3 {
    color: white;
}

/* PARA A IMAGEM DENTRO DA ABA DE ADICIONAR FILMES */

.preview-container {
    text-align: center; /* Centraliza o conteúdo da div */
    margin-top: 10px;
}

#preview-imagem {
    max-width: 200px;
    display: block;  /* Faz com que a imagem seja um elemento block */
    margin: 0 auto;  /* Centraliza a imagem */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.678),0 0 10px rgba(255, 0, 0, 0.678),0 0 10px rgba(255, 0, 0, 0.678);
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container p {
    margin: 10px 0;
}

footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: left;
}

.footer-content {
    display: flex;
    align-items: center;
}

.contact-item {
    margin-right: 20px;
}

.contact-item i {
    margin-right: 8px;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: white;
}
